!!!

%html(lang="en-US")
  %head

    %title= current_page.data.title "- Vostok: the Hashrocket Middleman Template"
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Atomic+Age"
    = stylesheet_link_tag "application"
    = javascript_include_tag "all"

    -# %meta(property="og:title" content="")
    -# %meta(property="og:type" content="")
    -# %meta(property="og:url" content="")
    -# %meta(property="og:description" content="")
    -# %meta(property="og:image" content="")

    -# %meta(name="twitter:card" content="summary_large_image")
    -# %meta(name="twitter:site" content="")
    -# %meta(name="twitter:creator" content="")
    -# %meta(name="twitter:title" content="")
    -# %meta(name="twitter:description" content="")
    -# %meta(name="twitter:image" content="")

    %link(rel="shortcut icon" href="/images/favicon.png")

  %body

    %main(id = "#{current_page.data.page_id || ''}")= yield
    = google_analytics_tag
